services:
  db:
    image: mysql:8.0
    pull_policy: if_not_present
    container_name: db
    env_file:
      - .db-env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "app", "-p${MYSQL_PASSWORD}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    deploy:
      resources:
        limits:
          memory: "512m"
          cpus: "0.5"
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      mode: replicated
      replicas: 1

    networks:
      - app

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: mhmdocker1/spring-petclinic:${TAG}
    #container_name: app
    env_file:
      - .app-env
    # ports:
    #  - "8080-8082:8080"   # range of ports for replicas 3  // we can use nginx to load balance
    expose:
      - "8080"
    depends_on:
      - db      
    networks:
      - app
    deploy:
      resources:
        limits:
          memory: "512m"
          cpus: "0.5"
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      mode: replicated
      replicas: ${REPLICAS}

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - app

volumes:
  db_data:


networks:
  app:
    name: app
    driver: bridge
